:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #b8b8b8;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --weverse:#0ed5bc;
    --fondo-verse:#f7f7fa;
    --sm: 12px;
    --md: 16px;
    --lg: 28px;
  }

  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }

  .main-container{
    background: var(--fondo-verse);
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: Space-between;
    align-items: center;
    padding: 20px 25px;
  
   
  }
  .navbar-left{
   cursor: pointer;
  }

  .navbar-right{
    cursor: pointer;
  }

  .submit{
    background-color: var(--weverse);
    font-size: var(--md);
    font-weight: bold;
    color: var(--white);
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .sub-main-container{
    background: var(--black);
    height: 300px;
  }



  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .product-card {
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    width: 240px;
  }

  .product-card > img{
    transition: all 500ms;
  }

  .product-card:hover > img{
    transform: scale(1.1);
    transition: all 500ms;

  }
  .product-card img {
    width: 240px;
    height: 230px;

    object-fit: cover;
  }
  .product-card .product-info {
    display: flex;
    justify-content: center;
    align-items: center;
   height: 50px;
   padding-top: 10px;
   margin-top: -15px;
   position: relative;
   border-radius: 0px 0px 20px 20px;

   background: var(--white);

   width: 240px;
  }
  .product-card .product-info figure {
    position: absolute;
    margin-left: 42px;
    margin-bottom: 85px;
    background: var(--white);
    border-radius: 50%;
    
  }
  .product-card .product-info figure img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid  var(--fondo-verse) 1px;
  }

  .product-card .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }



.sub-main-container img{
    width: 531px;
    height: 299px;
  
}

.sub-main-container{
    text-align: center;
}
 
.logo{
    width: 150px;
}

.main-message{
    font-size: var(--lg);
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 20px;
    margin-left: 100px;
}


.main-footer ul{
    list-style: none;
    padding: 0px;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center;
   
}



.main-footer ul li a {
    color: #777575;
    text-decoration: none;
    padding: 5px;
    font-size: var(--sm);


  }
footer{
    background: var(--fondo-verse);
    padding: 10px;
    border: solid  var(--very-light-pink) 1px;
    border-style: solid none;
}

.company{
    padding: 10px;
    text-align: center;
    color: var(--very-light-pink);
    font-size: var(--sm);
}

